@import "../../styles/index.scss";


.navbar {
  background: #130E16;
  // background: transparent;
  padding: 20px 70px 20px 70px;
  text-align: center;
  @include flex(0);
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  z-index: 9999;
  transition: .3s ease-in-out;

  @include responsive("mobile"){
    .logo_image{
      // border: 2px solid red;
      display: flex;
      justify-content: flex-start;

      .logo_img{
          width: 55% !important;
          height: unset !important;
          // border: 2px solid green;
      }
    }

  }
  

  @include responsive("mobile") {
    // background: #fff;
    background-color: #18151C;
    padding:20px 20px;
    text-align: center;
    @include flex(0);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    // border: 2px solid red;
  }

  .Navbar_List{
    display: block;
    

    @include responsive("mobile") {
        display: none;
    }
  }

  button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #0C356A;
    padding: 6px 30px;
    border-radius: 8px;
    cursor: pointer;

    // font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: left;
    
    &:hover {
      background-color: #5f5aec;
    }
  }

  

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    

    @include responsive("mobile") {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 60px;

      position: absolute;
      top: 70px;
      right: 0px;
      width: 100%;
      height: 100vh;
      background: fixed;
      background-color: #18151C;
      padding: 20px 30px 10px;
      background-attachment: fixed;
      position: fixed;
      transition: 0.7s;
    }
  }

  li {
    // border-bottom: 2px solid $primary-color;
    padding-bottom: 2px;
  }

  a {
    color: #fff;
    text-decoration: none;
    font-size: 1.0rem;
    font-weight: 600;
    transition: transform 0.3s ease;

    &:hover {
      color: #d4d3d3;
      transform: scale(1.1);
    }
  }

  #Hamburger{
    display: none;

    @include responsive("mobile") {
      display: block;
      color: #fff;
    }
  }
}


.harm{
  // color: red;
  font-size: 20px;
}
